{% extend "main.html" %}
{% block 'title' %}PyShellyTemp — Settings{% endblock %}
{% block 'contents' %}
<section>
<h2>Devices</h2>
<table>
<tr>
<th>Name</th><th>Type</th><th>Identifier</th><th>Status</th><th>Last report</th><th>Battery</th><th>Operations</th>
</tr>
{% for device, mod_path, delete_path in device_info %}
<tr>
<td><a href="{{ mod_path }}">{{ device.name }}</a></td><td>{{ device.type }}</td><td>{{ device.ident }}</td>
<td>{{ device.status }}</td><td>{{ device.last_report_disp }}</td>
<td>{{ device.bat_percent }} %</td><td><a href="{{ mod_path }}">Edit</a> • <a href="{{ delete_path }}">Delete</a></td>
</tr>
{% else %}
<tr><td colspan="7">No registered device</td></tr>
{% endfor %}
</table>
<form method="post" action="{{ urlprefix }}/settings/identify">
<input type="submit" name="identify" value="Identify device" />
<a href="{{ urlprefix }}/settings/device/new" class="button_like">Add device…</a>
</form>
</section>
<section>
<h2>Users</h2>
<table>
<tr>
<th>Username</th><th>Operations</th>
</tr>
{% for user, is_cur, mod_path, delete_path in user_info %}
<tr>
<td>{{ user.username }}</a></td>
<td><a href="{{ mod_path }}">Edit</a>{% if not is_cur %} • <a href="{{ delete_path }}">Delete</a>{% endif %}</td>
</tr>
{% endfor %}
</table>
<a href="{{ urlprefix }}/settings/user/new" class="button_like">Add user</a>
</section>
{% endblock %}
